:root{
    --gray: #3b3b4f;
    --white: #fff;
    --light-gray: #dfdfe2;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--gray);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
}

h1{
    color: var(--white);
    max-width: 480px;
    margin: 15px 0;
    width: 100%;
    text-align: center;
}

img{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

label{
    margin: 10px auto 5px;
}

input{
    display: block;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    height: 42px;
    font-size: 16px;
}

.phone-container{
    margin-top: 30px;
    position: relative;
    width: 250px;
    height: 460px;
    border: 15px solid black;
    border-radius: 15px;
    background-color: var(--light-gray);
}

.content-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone-camera-plate{
    width: 100%;
    height: 25px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.camera-hole{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--light-gray);
}

.results{
    height: 265px;
    overflow-y: auto;
    width: 100%;
}

.result-text{
    font-size: 1.2rem;
    padding: 5px;
    text-align: center;
    margin: 10px 0;
}

.invalid{
    color: #4D3800;
}

.valid{
    color: #00471b;
}

.phone-bottom-bar{
    background-color: black;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    cursor: pointer;
    width: 100px;
    margin: 10px;
    color: #0a0a23;
    font-size: 18px;
    background-color: white;
    background-image: linear-gradient(#ffffff, #928d86);
    border-color: white;
    border-width: 3px;
}